

/* top > bottom */
.baos[data-baos="transform--top-bottom"]{
    opacity: 0;
    transition: 0.6s linear;
    transform: translateY(-30px);
}
/* bottom > top */
.baos[data-baos="transform--bottom-top"]{
    opacity: 0;
    transform: translateY(30px);
}

/* left > right */
.baos[data-baos="transform--left-right"]{
    opacity: 0;
    transform: translateX(-30px);
}


/* right > left */
.baos[data-baos="transform--right-left"]{
    opacity: 0;
    transform: translateX(30px);
}


/* main */

.baos-active {
    transform: translateX(0px) translateY(0px) !important;
    opacity: 1 !important;
}